footer{
    position:fixed;
    bottom: 20px;
    width: 100%;
    height: 20px;
    border-top: red solid 2px;
    
    div{
        font-family: "Red Hat Display";
        font-weight: 700;  
        padding: 5px 5px 0 5px;  
    }

    button{
        position: absolute;
        bottom: 7px;
        right:10px;
        border-radius: 44px;
        background: black;
        svg path{
            fill: white
        }
    }
}